.my-own-css {
    font-weight: 100; 
    font-size: 40px;
    font-family: Helvetica,Arial,sans-serif;
    background: -webkit-linear-gradient(#0398fc, #002f4f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.answer{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.main_hr{
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
}

